@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

h1 {
  font-family: 'Milonga';
  font-size: 3rem;
  line-height: 1.5;
  color: #355863; 
  padding: 0;
  text-align: center;
  background: transparent;
  background: linear-gradient(90deg, #355863 0%, transparent 33%, transparent 66%, #355863 100%);
  height: 6px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 3rem 0 1.5rem;
  justify-content: center;
  border-radius: 1rem; gap: 1rem; 
}


h2 {  
    font-family: 'Milonga';
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300; 
    text-transform: none;
}


a { 
  transition: .3s; 
  text-decoration: none; 
  color: #355863; 
}

a:hover { 
  color: #657D7E;
}


.card-header { 
  font-family: 'Miniver';
  color: #fff;
  font-size: 1.1rem;
  font-weight: normal;
  background: #355863;
    }

table th {
   background: #355863;
   color: #fff;
}

table th {
font-size: 10px;
background-color: #355863;
color: #fff;
 }

table i {
color: #355863;
 }

.writeup {
  font-size: 13px;
  font-family: Work Sans;
  text-align: justify;
  letter-spacing: 1px;
}

.progress {  background: #355863; }

.nameplate1 {
  background: url('https://i.imgur.com/VSvVAFF.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nameplate2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 29px;
  min-height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Serif Old Uyghur', serif;
  color: #000;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(73,97,125,0.5) 1px 1px 1px;
