@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

h1 { font-family: 'Cormorant';  
  color: #7a909f;
  font-size: 3.2rem;
  font-style: normal;
  padding: 0;
  text-align: center;
  background: transparent;
  background: linear-gradient(90deg, #55686f 0%, transparent 33%, transparent 66%, #55686f 100%);
  height: 6px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 3rem 0 1.5rem;
  justify-content: center;
  border-radius: 1rem; gap: 1rem; }

h2 { color: #6283a8; 
   font-weight: 300;}

nav {
   background: #3f505e;
   text-shadow: 1px 1px 2px #000;
   color: #fff;
}

nav a {color: #fff;}

nav a:hover {color: #6283a8; }

a {color: #6283a8; }

a:hover {color: #3f505e;}

sidebar {  box-sizing: border-box;
  color: #fff;
  background-image: linear-gradient(225deg, #3f505e 20%,#0000), url('https://i.imgur.com/e1dzXUd.png');
  flex: 1;
  background-size: cover; background-position: 46.7% 50% }

sidebar a:hover { color: inherit; background-color: transparent; }

sidebar i {
   color: #fff;
}

i {color: #7a909f; }

legend {
 font-family: Carattere;
text-transform: lowercase;
font-weight: 300;
letter-spacing: 1px;
font-size: 25px; 
}

legend::before {
   content: " ⚔️ ";
   color: #7a909f;
   opacity: .8;
}

fieldset {
   font-size: 13px;
   border: 1px solid #7a909f;
}

table th {
font-size: 10px;
background-color: #3f505e;
color: #fff;
 }

table td {
  font-size: 13px;
}

table i {
color: #6283a8;
 }

.tabcontent {
  font-size: 13px;
  text-transform: lowercase;
}

.ribbons b {
  font-size: 1.3rem;
  display: block;
  line-height: 1;
  margin: 0;
  color: #7a909f;
}

.big { font-size: 16px; font-style: italic; }

.card-body { 
font-size: 13px; letter-spacing: 1px; ;}

.writeup {
  font-size: 13px;
  text-align: justify;
  letter-spacing: 1px;
}

.progress {  background: #6283a8; }

.nameplate1 {
  background: url('https://i.imgur.com/ipnbuIK.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nameplate2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 29px;
  min-height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Serif Old Uyghur', serif;
  color: #000;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(5,208,235,0.5) 1px 1px 1px;
}

@media(max-width: 1000px) {  /* smol */ 
	.tablinks i { font-size: 130% } .tablinks { padding: .5rem } 
  .horseshoe { width: 2rem; padding: .5rem }
  a.lightswitch { justify-content: center; }
  sidebar a { background: transparent; padding: .5rem; justify-content: center; }
  sidebar a i { display: block!important }
  sidebar a span { display: none }
  nav {
    display: block; text-align: left;
  }
  nav a {
    display: block;
    padding: .4rem;
  }
  h1, h2 { margin: 0; background: none; text-align: center;}
  h1 { font-size: 2.6rem; height: auto!important; display: block; margin-top: 1rem }
  h2 { margin-bottom: 1rem }
}
